body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.nav {
    width: 100%;
    color: white;
    background-color: black;
    padding: 5px;
}

.nav-head {
  color: white;
  font-weight: bold;
  border: 0;
  background-color: black;
  height: 30px;
}


.nav-part {
  color: lightgray;
  border: 0;
  background-color: black;
  height: 30px;
}

.container {
  padding: 1.5%;
}

.open {
  background-color: green;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.solved {
  background-color: red;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.issue {
  background-color: gold;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}


.t-crypt {
  background-color: purple;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.t-ctf {
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.t-code {
  background-color: cyan;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.t-etc {
  background-color: darkgray;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

input {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  margin: 5px;
}


.notify {
  border: none;
  padding: 3px;
  border-radius: 5px;
  margin: 8px;
  color: white;
  background: green;
}


.postbox {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 70%;
}

.name {
  width: 100%;
  border: 1px solid lightgray;
  padding: 3px;
  font-size: 200%;
}

textarea {
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 100%;
  padding: 3px;
  height: 60%;
}

.sub {
  border: 1px solid lightgray;
  padding: 15px;
  color: black;
  border-radius: 7px;
  background-color: lightgray;
}

.post {
  border: 1px solid lightgray;
  width: 80%;
  color: black;
  border-radius: 7px;
  background-color: white;
  overflow-x: hidden;
}

.pi {
  text-align: left;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
  background-color: lightgray;
}

.op {
  text-align: left;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
}

.pc {
  text-align: left;
  width: 100%;
  padding: 10px;
  background-color: white;
}

h1 {
  display: inline;
}

.rep {
  height: 20%;
}


.hide {
  text-decoration: none;
  color: black;
}
